<a href="https://colab.research.google.com/github/coldsober-irene/AIF-machine-learning/blob/main/ML1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
import random as rd

In [ ]:
from google.colab import drive

In [ ]:
# mount the drive to the colab
drive.mount("drive")

In [ ]:
# change working directory
import os
os.chdir("/content/drive/MyDrive/AIF progress/machine learning/data")

In [ ]:
!pwd

In [ ]:
!ls

In [ ]:
# set to see all the rows 
pd.set_option("display.max_rows", None)

In [ ]:
excel_data = "Data new screw Jan 23.xlsx"

In [ ]:
pandas_data = pd.read_excel(excel_data)
# drop first 2 rows and start at headings containing time, date and so on.
pandas_data.columns = pandas_data.iloc[1]

In [ ]:
pandas_data.head(10)

In [ ]:
pandas_data.tail(10)

In [ ]:
pandas_data # display all the data rows

DO THE SUM AND FILL NAN WITH 0

In [ ]:
# you can delete the rows with missing data or replace them.
# deleting the rows with missing data, use pandas.dropna() method
not_na = pandas_data.dropna()
# show data after deleting rows with missing data
not_na

in the above ouput, since each row contains NAN, that's why all rows except heading was deleted. in this case you can prefer replacing nan with some meaningful data such as 0

In [ ]:
# instead of deleting rows, replace nan with 0.
without_nan = pandas_data[pandas_data.columns[5]][2:].fillna(0) # from 3rd row to the end, fill NAN with 0

In [ ]:
# show data without NAN
all_nan = pandas_data.fillna(0)

In [ ]:
# ENTIRE FRAME WITHOUT NAN (replace all NAN value in all rows with 0)
all_nan

In [ ]:
# do sum
overall = without_nan.sum()

In [ ]:
overall

#DEALING WITH CATEGORICAL DATA

In [ ]:
DATA = {"names":["irene", "claude", "desire", "Aimee", "Divine"],
        "gender":["male", "male", "male", "female", "female"]}
DATA = pd.DataFrame(DATA)

In [ ]:
DATA

In [ ]:
# change gender into numerical data that can be fitted in ML model
ml_fit = pd.get_dummies(DATA, columns = ["gender"])
ml_fit

In [ ]:
pandas_data.columns

In [ ]:
# changing time from checklist dataset loaded in recent cells into numerical data 
time_changes = pd.get_dummies(pandas_data, columns = ["Time"], drop_first = True)

In [ ]:
time_changes

In [ ]:
# get first 2 rows and first 2 columns
time_changes.iloc[4:9, 0:2]

In [ ]:
time_changes.iloc[0:5] # ILOC IS FOR ROWS NUMBERING (IT IS LIKE THE NORMAL PYTHON LIST)

In [ ]:
time_changes.loc[0:15] # LOC IS FOR INDEX (THIS COUNTS IN A NORMAL WAY OF COUNTING BUT ALSO INCLUDES POSITION 0)

In [ ]:
# SPECIFIC POSITION (2,3,6): 15th row, 6th column and position 6 in that column
time_changes.iloc[15,6]

#matplotlib

In [ ]:
import matplotlib.pyplot as plt

#bar plot

In [ ]:
plt.bar(x = [rd.randrange(5)for i in range(5)], height = [rd.randrange(5)for i in range(5)]) # height means the upper limit of bars, while X are the data on x-axis

# scatter plot

In [ ]:
# scatter needs 2 numpy arrays.
import random as rd
x = []
y = []
plt.scatter(x = [(rd.randrange(0, 10),x.append(rd.randrange(0, 10))) for j in range(20)], y = [(rd.randrange(0, 10),y.append(rd.randrange(0, 10))) for j in range(20)])
pd.Series(x, y)

# histogram plot

In [ ]:
plt.hist(list(range(5)), 10) # requires only one dataset and specifies the number of bars which is 10 in our case.

# box plot

In [ ]:
plt.boxplot(x = list(range(10)))

#line plot

In [ ]:
import inspect # to help to get all function's parameters

In [ ]:
inspect.signature(plt.plot)

In [ ]:
plt.plot(range(10),range(10,20))

In [ ]:
inspect.signature(plt.bar)

In [ ]:
time_changes.plot()

In [ ]:
df = pandas_data.iloc[2:].fillna(0)

In [ ]:
col = df.columns
col

In [ ]:
cols = ['Product', 'Date', 'Time', 'Setpoint TPH', 'CMD %', 'Motor RPM 1',
       'Screw RPM 2', 'AveFF', 'Setpoint TPH', 'CMD %', 'Motor RPM', 'Screw RPM',
       'AveFF', 'Throughput TPH', 'Main drive torque',
       'Main drive motor speed', 'Die pressure', 'Die Temp', 'Cutter speed',
       'SME', 'Suction pipe clogged']
df.columns = cols

In [ ]:
x_label = df['Time'].unique()
df_copy = df.iloc[:, 0:len(x_label)]

In [ ]:
# x_label = df['Time'].unique()
df_copy.columns = x_label
df_copy

In [ ]:
df.plot(x = "Time", y = ["Motor RPM", "Screw RPM", "Throughput TPH"], figsize = (20, 10), label = "Motor Screw TPH".split())

In [ ]:
df_copy.plot()

#converting categorical data into numbers

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
DATA = {"names":["irene", "claude", "desire", "Aimee", "Divine", "colds"],
        "gender":["male", "male", "male", "female", "female", "unknown"]}
DATA = pd.DataFrame(DATA)

In [ ]:
# ENCODER
enc = LabelEncoder()
DATA['encoded_text'] = enc.fit_transform(DATA['gender'])
DATA

working with the datasets comes with sklearn

In [ ]:
from sklearn import datasets

In [ ]:
# digits
digits = datasets.load_digits()
# get numpy array of the digits
n_array = digits.data
print(n_array)

In [ ]:
n_array.shape

In [ ]:
digits.target

In [ ]:
# draft
import inspect
import matplotlib.pyplot as plt

inspect.signature(plt.hist)

big data distribution in machine  learning

In [ ]:
# uniform distribution
import numpy as np

data = np.random.uniform(0.0, 5.0, 250) # from 0 to 5 and get 250 values in between
data

In [ ]:
# plot the data on histogram plot
plt.hist(data, 100) # plot the data and have 100 bars on the plot

In [ ]:
# normal distribution

data2 = np.random.normal(5.0, 1.0, 250) # have mean of 5, standard deviation of 1 and values generated equals to 1000
data2

In [ ]:
# plot the data
plt.hist(data, 100)

In [ ]:
# plot uniform on x and normal distribution on y
plt.scatter(data, data2)