<a href="https://colab.research.google.com/github/coldsober-irene/AIF-machine-learning/blob/main/ML1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [7]:
from google.colab import drive

In [8]:
# mount the drive to the colab
drive.mount("drive")

Mounted at drive

In [9]:
# change working directory
import os
os.chdir("/content/drive/MyDrive/AIF progress/machine learning/data")

In [10]:
!pwd

/content/drive/MyDrive/AIF progress/machine learning/data

In [11]:
!ls

'Data new screw Jan 23.xlsx'

In [36]:
# set to see all the rows 
pd.set_option("display.max_rows", None)

In [12]:
excel_data = "Data new screw Jan 23.xlsx"

In [32]:
pandas_data = pd.read_excel(excel_data)
# drop first 2 rows and start at headings containing time, date and so on.
pandas_data.columns = pandas_data.iloc[1]

In [37]:
pandas_data.head(10)

1,Product,Date,Time,Setpoint TPH,CMD %,Motor RPM,Screw RPM,AveFF,Setpoint TPH,CMD %,...,Screw RPM,AveFF,Throughput TPH,Main drive torque,Main drive motor speed,Die pressure,Die Temp,Cutter speed,SME,Suction pipe clogged
0,NaN,NaN,NaN,Soya k-tron,NaN,NaN,NaN,NaN,Maize k-tron,NaN,...,NaN,NaN,Extruder,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Product,Date,Time,Setpoint TPH,CMD %,Motor RPM,Screw RPM,AveFF,Setpoint TPH,CMD %,...,Screw RPM,AveFF,Throughput TPH,Main drive torque,Main drive motor speed,Die pressure,Die Temp,Cutter speed,SME,Suction pipe clogged
2,NaN,NaN,09:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,15:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,21:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,GOM,2023-02-01 00:00:00,01:00:00,1236,86.47,1629,388.1,1461.6,4767.1,66.7,...,258.63,7538.6,6891.1,86,778,0,163,912,35.9,NaN
9,NaN,NaN,04:00:00,1236,78.1,1673.1,359.1,1430.1,4764,66,...,260.1,7198.3,6893.3,88,776,0,163,912,34.1,NaN

In [10]:
pandas_data.tail(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,<=95%,<=790rpm,<=60bar,<=190degC,<=1100rpm,Unnamed: 19,Unnamed: 20
71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,NaN,NaN,09:00:00,NaN,NaN,2200,459,1782,4536,60,...,236,7523,7439,95,784,0,152,952,34.9,NaN
73,NaN,NaN,12:00:00,NaN,NaN,2079,432,1806,4536,61,...,237,7583,7438,89,784,0,153,951,35.5,NaN
74,NaN,NaN,15:00:00,NaN,NaN,2066,467,1773,4536,59,...,240,7559,7447,90,784,0,155,952,34.5,NaN
75,NaN,NaN,18:00:00,NaN,NaN,2200,458,1782,4536,61,...,237,7560,7438,89,784,0,153,952,35,NaN
76,NaN,NaN,21:00:00,NaN,NaN,2083,436,1801,4538,60,...,241,7536,7442,90,784,0,152,952,34.6,NaN
77,NaN,NaN,23:00:00,NaN,NaN,2068,474,1769,4540,58,...,236,7581,7465,98,784,0,155,952,35.6,NaN
78,NaN,2023-09-01 00:00:00,01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,NaN,NaN,04:00:00,NaN,NaN,2197,468,1622,4536,57,...,231,7565,7405,87,787,0,150,902,35,NaN
80,NaN,NaN,07:00:00,NaN,NaN,2201,468,1624,4536,58,...,236,7550,7407,88,787,0,151,902,33,NaN

In [12]:
pandas_data # display all the data rows

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,<=95%,<=790rpm,<=60bar,<=190degC,<=1100rpm,Unnamed: 19,Unnamed: 20
0,NaN,NaN,NaN,Soya k-tron,NaN,NaN,NaN,NaN,Maize k-tron,NaN,...,NaN,NaN,Extruder,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Product,Date,Time,Setpoint TPH,CMD %,Motor RPM,Screw RPM,AveFF,Setpoint TPH,CMD %,...,Screw RPM,AveFF,Throughput TPH,Main drive torque,Main drive motor speed,Die pressure,Die Temp,Cutter speed,SME,Suction pipe clogged
2,NaN,NaN,09:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,15:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,21:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,GOM,2023-02-01 00:00:00,01:00:00,1236,86.47,1629,388.1,1461.6,4767.1,66.7,...,258.63,7538.6,6891.1,86,778,0,163,912,35.9,NaN
9,NaN,NaN,04:00:00,1236,78.1,1673.1,359.1,1430.1,4764,66,...,260.1,7198.3,6893.3,88,776,0,163,912,34.1,NaN
10,NaN,NaN,07:00:00,1236,87.1,1674.1,358.1,1451.3,4763.1,67.3,...,262.3,7463.3,6893.1,86,776,0,162,912,35.3,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,2023-02-01 00:00:00,09:00:00,1236,85,1680,360,1445,4764,65,...,260,7270.2,6889,85,780,0,163,930,35.3,NaN
13,NaN,NaN,12:00:00,1236,85,1680,361,1450,4764,63,...,270,7278.4,6889,84,780,0,163,930,35.4,NaN
14,NaN,NaN,15:00:00,1236,85,1681,359,1449,4763,67,...,260,7278.6,6884,84,780,0,163,930,35.5,NaN
15,NaN,NaN,18:00:00,1236,84,1708,304,1531,4764,68,...,264,7229,6888,88,787,0,159,930,37.4,NaN
16,WFP,NaN,21:00:00,1738,105,2059,460,1753,4764,58,...,236,7735,7308,90,784,0,151,950,33.8,NaN
17,NaN,NaN,23:00:00,1736,109,2123,423,1758,4764,58,...,238,7563,7314,90,784,0,151,952,34.5,NaN
18,NaN,2023-03-01 00:00:00,01:00:00,1736,105,2042,420,1785,4764,58,...,236,7604,7317,87,784,0,152,952,35,NaN
19,NaN,NaN,04:00:00,1736,98,2195,464,1756,4764,58,...,236,7658,7317,88,784,0,151,952,35,NaN
20,NaN,NaN,07:00:00,1764,104,2159,448,1758,4536,59,...,237,7906,7432,89,784,0,151,951,34.5,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,09:00:00,1764,107,2200,468,1744,4536,60,...,239,7587,7400,90,787,0,152,950,34.4,NaN
23,NaN,NaN,12:00:00,1764,105,2200,467,1816,4536,65,...,240,7588,7426,90,787,0,154,950,34.5,NaN
24,NaN,NaN,15:00:00,1764,104,2200,462,1823,4536,61,...,240,7588,7420,90,787,0,158,950,34.6,NaN
25,NaN,NaN,18:00:00,1764,106,1964,432,1796,4536,60,...,238,7698,7406,91,784,0,153,952,34.5,NaN
26,NaN,NaN,21:00:00,1764,110,1976,420,1785,4536,58,...,225,7742,7413,90,784,0,152,952,34.7,NaN
27,NaN,NaN,23:00:00,1764,110,2200,461,1787,4536,59,...,228,7626,7420,89,784,0,152,952,34.3,NaN
28,NaN,2023-04-01 00:00:00,01:00:00,1764,108,2197,468,1783,4536,60,...,238,7644,7406,90,784,0,152,952,35.7,NaN
29,NaN,NaN,04:00:00,1764,110,1980,456,1782,4536,59,...,230,7605,7394,91,784,0,151,952,34.5,NaN
30,NaN,NaN,07:00:00,1764,99,1980,468,1783,4536,60,...,248,7256,7384,89,784,0,152,952,35,NaN
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,09:00:00,1764,98.8,2200,468.9,1796,4536,59,...,234,7668,7437,89,784,0,152,952,35,NaN
33,NaN,NaN,12:00:00,1763,110,2200,468.6,1796,4540,60,...,236,7668,7438,90,784,0,152,952,34,NaN
34,NaN,NaN,15:00:00,1764,110,2200,468.5,1796,4540,60,...,236,7668,7438,90,780,0,152,952,34,NaN
35,NaN,NaN,18:00:00,1764,102,2183,460,1807.6,4540,61,...,238,7668,7439,90,784,0,153,950,35.7,NaN
36,NaN,NaN,21:00:00,1764,104,2150,416,1790,4540,62,...,238,7669,7439,90,784,0,152,950,34.4,NaN
37,NaN,NaN,23:00:00,1764,101,2157,417,1804,4540,60,...,237,7661,7440,90,784,0,152,950,34.3,NaN
38,NaN,2023-05-01 00:00:00,01:00:00,1764,110,2210,460,1814,4536,59,...,246,7660,7413,91,784,0,152,951,35.6,NaN
39,NaN,NaN,04:00:00,1764,107,2112,459,1811,4536,59,...,248,7484,7428,95,784,0,153,951,36.1,NaN
40,NaN,NaN,07:00:00,1764,98,2024,464,1770,4536,55,...,231,7645,7412,90,784,0,152,952,35.2,NaN
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,09:00:00,NaN,NaN,2200,413.7,1783.4,4536,58.4,...,244,7442,7425.3,89,784,0,152,952,32,NaN
43,NaN,NaN,12:00:00,NaN,NaN,2200,466.9,1754.8,4537,58.4,...,243,7442,7411.9,95,786,0,154,952,36.9,NaN
44,NaN,NaN,15:00:00,NaN,NaN,2200,466.9,1758.8,4137,58.4,...,246,7442,7428,95,786,0,154,952,35.8,NaN
45,NaN,NaN,18:00:00,NaN,NaN,1945,415,1798,4536,60,...,238,7566,7424,91,787,0,153,950,36,NaN
46,NaN,NaN,21:00:00,NaN,NaN,1907,411,1824,4536,61,...,240,7566,7429,91,787,0,153,950,34.1,NaN
47,NaN,NaN,23:00:00,NaN,NaN,2128,417,1800,4536,60,...,240,7165,7418,95,787,0,153,950,34.3,NaN
48,NaN,2023-06-01 00:00:00,01:00:00,NaN,NaN,2086,468,1776,4536,58,...,243,7523,7402,90,784,0,153,951,34.6,NaN
49,NaN,NaN,04:00:00,NaN,NaN,2200,468,1802,4536,60,...,237,7631,7419,91,784,0,152,952,34.6,NaN
50,NaN,NaN,07:00:00,NaN,NaN,2199,467,1735,4536,61,...,242,7562,7382,89,784,0,151,950,34.3,NaN
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,NaN,NaN,09:00:00,NaN,NaN,2128,468,1777,4536,58,...,243,7555,7433,91,784,0,152,950,35.5,NaN
53,NaN,NaN,12:00:00,NaN,NaN,1977,458,1783,4536,69,...,244,7490,7444,91,784,0,154,950,34.5,NaN
54,NaN,NaN,15:00:00,NaN,NaN,2200,460,1777,4536,61,...,239,7520,7449,94,784,0,154,952,36.4,NaN
55,NaN,NaN,18:00:00,NaN,NaN,2170,422,1782,4536,54,...,244,7478,7424,95,784,0,152,952,35.8,NaN
56,NaN,NaN,21:00:00,NaN,NaN,2086,421,1781,4536,59,...,240,7469,7425,96,784,0,152,951,36.2,NaN
57,NaN,NaN,23:00:00,NaN,NaN,2010,417,1780,4536,60,...,233,7505,7431,92,784,0,152,952,35.2,NaN
58,NaN,2023-07-01 00:00:00,01:00:00,NaN,NaN,2136,419,1795,4536,60,...,240,7509,7431,92,748,0,152,950,34.8,NaN
59,NaN,NaN,04:00:00,NaN,NaN,2134,420,1800,4536,61,...,235,7509,7431,92,748,0,152,950,34.9,NaN
60,NaN,NaN,07:00:00,NaN,NaN,2135,422,1800,4536,60,...,236,7505,7431,92,748,0,151,950,34.8,NaN
61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,NaN,NaN,09:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,NaN,NaN,12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,NaN,NaN,15:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,NaN,NaN,18:00:00,NaN,NaN,1979.5,439,1784,4536,60,...,234,7640,7444.4,95,784,0,154,952,35.4,NaN
66,NaN,NaN,21:00:00,NaN,NaN,1982.1,446,1785,4536,59,...,237,7648,7445,91,784,0,154,951,36.5,NaN
67,NaN,NaN,23:00:00,NaN,NaN,2114,436,1786,4536,60,...,230,7657,7447.3,91,784,0,154,952,36.2,NaN
68,NaN,2023-08-01 00:00:00,01:00:00,NaN,NaN,2120,430,1799,4536,60,...,230,7657,7462,92,780,0,153,950,34.5,NaN
69,NaN,NaN,04:00:00,NaN,NaN,2121,430,1800,4536,60,...,230,7657,7445,90,780,0,152,950,35.5,NaN
70,NaN,NaN,07:00:00,NaN,NaN,2119,430,1800,4536,61,...,230,7658,7440,91,780,0,152,950,34.5,NaN
71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,NaN,NaN,09:00:00,NaN,NaN,2200,459,1782,4536,60,...,236,7523,7439,95,784,0,152,952,34.9,NaN
73,NaN,NaN,12:00:00,NaN,NaN,2079,432,1806,4536,61,...,237,7583,7438,89,784,0,153,951,35.5,NaN
74,NaN,NaN,15:00:00,NaN,NaN,2066,467,1773,4536,59,...,240,7559,7447,90,784,0,155,952,34.5,NaN
75,NaN,NaN,18:00:00,NaN,NaN,2200,458,1782,4536,61,...,237,7560,7438,89,784,0,153,952,35,NaN
76,NaN,NaN,21:00:00,NaN,NaN,2083,436,1801,4538,60,...,241,7536,7442,90,784,0,152,952,34.6,NaN
77,NaN,NaN,23:00:00,NaN,NaN,2068,474,1769,4540,58,...,236,7581,7465,98,784,0,155,952,35.6,NaN
78,NaN,2023-09-01 00:00:00,01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,NaN,NaN,04:00:00,NaN,NaN,2197,468,1622,4536,57,...,231,7565,7405,87,787,0,150,902,35,NaN
80,NaN,NaN,07:00:00,NaN,NaN,2201,468,1624,4536,58,...,236,7550,7407,88,787,0,151,902,33,NaN

DO THE SUM AND FILL NAN WITH 0

In [13]:
# you can delete the rows with missing data or replace them.
# deleting the rows with missing data, use pandas.dropna() method
not_na = pandas_data.dropna()
# show data after deleting rows with missing data
not_na

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,<=95%,<=790rpm,<=60bar,<=190degC,<=1100rpm,Unnamed: 19,Unnamed: 20
1,Product,Date,Time,Setpoint TPH,CMD %,Motor RPM,Screw RPM,AveFF,Setpoint TPH,CMD %,...,Screw RPM,AveFF,Throughput TPH,Main drive torque,Main drive motor speed,Die pressure,Die Temp,Cutter speed,SME,Suction pipe clogged

in the above ouput, since each row contains NAN, that's why all rows except heading was deleted. in this case you can prefer replacing nan with some meaningful data such as 0

In [14]:
# instead of deleting rows, replace nan with 0.
without_nan = pandas_data[pandas_data.columns[5]][2:].fillna(0) # from 3rd row to the end, fill NAN with 0

In [15]:
# show data without NAN
all_nan = pandas_data.fillna(0)

In [16]:
# ENTIRE FRAME WITHOUT NAN (replace all NAN value in all rows with 0)
all_nan

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,<=95%,<=790rpm,<=60bar,<=190degC,<=1100rpm,Unnamed: 19,Unnamed: 20
0,0,0,0,Soya k-tron,0,0,0,0,Maize k-tron,0,...,0,0,Extruder,0,0,0,0,0,0,0
1,Product,Date,Time,Setpoint TPH,CMD %,Motor RPM,Screw RPM,AveFF,Setpoint TPH,CMD %,...,Screw RPM,AveFF,Throughput TPH,Main drive torque,Main drive motor speed,Die pressure,Die Temp,Cutter speed,SME,Suction pipe clogged
2,0,0,09:00:00,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,12:00:00,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,15:00:00,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,18:00:00,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,21:00:00,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,23:00:00,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,GOM,2023-02-01 00:00:00,01:00:00,1236,86.47,1629,388.1,1461.6,4767.1,66.7,...,258.63,7538.6,6891.1,86,778,0,163,912,35.9,0
9,0,0,04:00:00,1236,78.1,1673.1,359.1,1430.1,4764,66,...,260.1,7198.3,6893.3,88,776,0,163,912,34.1,0
10,0,0,07:00:00,1236,87.1,1674.1,358.1,1451.3,4763.1,67.3,...,262.3,7463.3,6893.1,86,776,0,162,912,35.3,0
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,2023-02-01 00:00:00,09:00:00,1236,85,1680,360,1445,4764,65,...,260,7270.2,6889,85,780,0,163,930,35.3,0
13,0,0,12:00:00,1236,85,1680,361,1450,4764,63,...,270,7278.4,6889,84,780,0,163,930,35.4,0
14,0,0,15:00:00,1236,85,1681,359,1449,4763,67,...,260,7278.6,6884,84,780,0,163,930,35.5,0
15,0,0,18:00:00,1236,84,1708,304,1531,4764,68,...,264,7229,6888,88,787,0,159,930,37.4,0
16,WFP,0,21:00:00,1738,105,2059,460,1753,4764,58,...,236,7735,7308,90,784,0,151,950,33.8,0
17,0,0,23:00:00,1736,109,2123,423,1758,4764,58,...,238,7563,7314,90,784,0,151,952,34.5,0
18,0,2023-03-01 00:00:00,01:00:00,1736,105,2042,420,1785,4764,58,...,236,7604,7317,87,784,0,152,952,35,0
19,0,0,04:00:00,1736,98,2195,464,1756,4764,58,...,236,7658,7317,88,784,0,151,952,35,0
20,0,0,07:00:00,1764,104,2159,448,1758,4536,59,...,237,7906,7432,89,784,0,151,951,34.5,0
21,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,0,0,09:00:00,1764,107,2200,468,1744,4536,60,...,239,7587,7400,90,787,0,152,950,34.4,0
23,0,0,12:00:00,1764,105,2200,467,1816,4536,65,...,240,7588,7426,90,787,0,154,950,34.5,0
24,0,0,15:00:00,1764,104,2200,462,1823,4536,61,...,240,7588,7420,90,787,0,158,950,34.6,0
25,0,0,18:00:00,1764,106,1964,432,1796,4536,60,...,238,7698,7406,91,784,0,153,952,34.5,0
26,0,0,21:00:00,1764,110,1976,420,1785,4536,58,...,225,7742,7413,90,784,0,152,952,34.7,0
27,0,0,23:00:00,1764,110,2200,461,1787,4536,59,...,228,7626,7420,89,784,0,152,952,34.3,0
28,0,2023-04-01 00:00:00,01:00:00,1764,108,2197,468,1783,4536,60,...,238,7644,7406,90,784,0,152,952,35.7,0
29,0,0,04:00:00,1764,110,1980,456,1782,4536,59,...,230,7605,7394,91,784,0,151,952,34.5,0
30,0,0,07:00:00,1764,99,1980,468,1783,4536,60,...,248,7256,7384,89,784,0,152,952,35,0
31,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32,0,0,09:00:00,1764,98.8,2200,468.9,1796,4536,59,...,234,7668,7437,89,784,0,152,952,35,0
33,0,0,12:00:00,1763,110,2200,468.6,1796,4540,60,...,236,7668,7438,90,784,0,152,952,34,0
34,0,0,15:00:00,1764,110,2200,468.5,1796,4540,60,...,236,7668,7438,90,780,0,152,952,34,0
35,0,0,18:00:00,1764,102,2183,460,1807.6,4540,61,...,238,7668,7439,90,784,0,153,950,35.7,0
36,0,0,21:00:00,1764,104,2150,416,1790,4540,62,...,238,7669,7439,90,784,0,152,950,34.4,0
37,0,0,23:00:00,1764,101,2157,417,1804,4540,60,...,237,7661,7440,90,784,0,152,950,34.3,0
38,0,2023-05-01 00:00:00,01:00:00,1764,110,2210,460,1814,4536,59,...,246,7660,7413,91,784,0,152,951,35.6,0
39,0,0,04:00:00,1764,107,2112,459,1811,4536,59,...,248,7484,7428,95,784,0,153,951,36.1,0
40,0,0,07:00:00,1764,98,2024,464,1770,4536,55,...,231,7645,7412,90,784,0,152,952,35.2,0
41,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
42,0,0,09:00:00,0,0,2200,413.7,1783.4,4536,58.4,...,244,7442,7425.3,89,784,0,152,952,32,0
43,0,0,12:00:00,0,0,2200,466.9,1754.8,4537,58.4,...,243,7442,7411.9,95,786,0,154,952,36.9,0
44,0,0,15:00:00,0,0,2200,466.9,1758.8,4137,58.4,...,246,7442,7428,95,786,0,154,952,35.8,0
45,0,0,18:00:00,0,0,1945,415,1798,4536,60,...,238,7566,7424,91,787,0,153,950,36,0
46,0,0,21:00:00,0,0,1907,411,1824,4536,61,...,240,7566,7429,91,787,0,153,950,34.1,0
47,0,0,23:00:00,0,0,2128,417,1800,4536,60,...,240,7165,7418,95,787,0,153,950,34.3,0
48,0,2023-06-01 00:00:00,01:00:00,0,0,2086,468,1776,4536,58,...,243,7523,7402,90,784,0,153,951,34.6,0
49,0,0,04:00:00,0,0,2200,468,1802,4536,60,...,237,7631,7419,91,784,0,152,952,34.6,0
50,0,0,07:00:00,0,0,2199,467,1735,4536,61,...,242,7562,7382,89,784,0,151,950,34.3,0
51,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
52,0,0,09:00:00,0,0,2128,468,1777,4536,58,...,243,7555,7433,91,784,0,152,950,35.5,0
53,0,0,12:00:00,0,0,1977,458,1783,4536,69,...,244,7490,7444,91,784,0,154,950,34.5,0
54,0,0,15:00:00,0,0,2200,460,1777,4536,61,...,239,7520,7449,94,784,0,154,952,36.4,0
55,0,0,18:00:00,0,0,2170,422,1782,4536,54,...,244,7478,7424,95,784,0,152,952,35.8,0
56,0,0,21:00:00,0,0,2086,421,1781,4536,59,...,240,7469,7425,96,784,0,152,951,36.2,0
57,0,0,23:00:00,0,0,2010,417,1780,4536,60,...,233,7505,7431,92,784,0,152,952,35.2,0
58,0,2023-07-01 00:00:00,01:00:00,0,0,2136,419,1795,4536,60,...,240,7509,7431,92,748,0,152,950,34.8,0
59,0,0,04:00:00,0,0,2134,420,1800,4536,61,...,235,7509,7431,92,748,0,152,950,34.9,0
60,0,0,07:00:00,0,0,2135,422,1800,4536,60,...,236,7505,7431,92,748,0,151,950,34.8,0
61,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
62,0,0,09:00:00,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
63,0,0,12:00:00,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
64,0,0,15:00:00,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
65,0,0,18:00:00,0,0,1979.5,439,1784,4536,60,...,234,7640,7444.4,95,784,0,154,952,35.4,0
66,0,0,21:00:00,0,0,1982.1,446,1785,4536,59,...,237,7648,7445,91,784,0,154,951,36.5,0
67,0,0,23:00:00,0,0,2114,436,1786,4536,60,...,230,7657,7447.3,91,784,0,154,952,36.2,0
68,0,2023-08-01 00:00:00,01:00:00,0,0,2120,430,1799,4536,60,...,230,7657,7462,92,780,0,153,950,34.5,0
69,0,0,04:00:00,0,0,2121,430,1800,4536,60,...,230,7657,7445,90,780,0,152,950,35.5,0
70,0,0,07:00:00,0,0,2119,430,1800,4536,61,...,230,7658,7440,91,780,0,152,950,34.5,0
71,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
72,0,0,09:00:00,0,0,2200,459,1782,4536,60,...,236,7523,7439,95,784,0,152,952,34.9,0
73,0,0,12:00:00,0,0,2079,432,1806,4536,61,...,237,7583,7438,89,784,0,153,951,35.5,0
74,0,0,15:00:00,0,0,2066,467,1773,4536,59,...,240,7559,7447,90,784,0,155,952,34.5,0
75,0,0,18:00:00,0,0,2200,458,1782,4536,61,...,237,7560,7438,89,784,0,153,952,35,0
76,0,0,21:00:00,0,0,2083,436,1801,4538,60,...,241,7536,7442,90,784,0,152,952,34.6,0
77,0,0,23:00:00,0,0,2068,474,1769,4540,58,...,236,7581,7465,98,784,0,155,952,35.6,0
78,0,2023-09-01 00:00:00,01:00:00,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
79,0,0,04:00:00,0,0,2197,468,1622,4536,57,...,231,7565,7405,87,787,0,150,902,35,0
80,0,0,07:00:00,0,0,2201,468,1624,4536,58,...,236,7550,7407,88,787,0,151,902,33,0

In [17]:
# do sum
overall = without_nan.sum()

In [18]:
overall

128206.79999999999

#DEALING WITH CATEGORICAL DATA

In [3]:
DATA = {"names":["irene", "claude", "desire", "Aimee", "Divine"],
        "gender":["male", "male", "male", "female", "female"]}
DATA = pd.DataFrame(DATA)

In [4]:
DATA

    names  gender
0   irene    male
1  claude    male
2  desire    male
3   Aimee  female
4  Divine  female

In [6]:
# change gender into numerical data that can be fitted in ML model
ml_fit = pd.get_dummies(DATA, columns = ["gender"])
ml_fit

    names  gender_female  gender_male
0   irene              0            1
1  claude              0            1
2  desire              0            1
3   Aimee              1            0
4  Divine              1            0

In [33]:
pandas_data.columns

Index(['Product', 'Date', 'Time', 'Setpoint TPH', 'CMD %', 'Motor RPM',
       'Screw RPM', 'AveFF', 'Setpoint TPH', 'CMD %', 'Motor RPM', 'Screw RPM',
       'AveFF', 'Throughput TPH', 'Main drive torque',
       'Main drive motor speed', 'Die pressure', 'Die Temp', 'Cutter speed',
       'SME', 'Suction pipe clogged'],
      dtype='object', name=1)

In [38]:
# changing time from checklist dataset loaded in recent cells into numerical data 
time_changes = pd.get_dummies(pandas_data, columns = ["Time"], drop_first = True)

In [39]:
time_changes

,Product,Date,Setpoint TPH,CMD %,Motor RPM,Screw RPM,AveFF,Setpoint TPH,CMD %,Motor RPM,...,Suction pipe clogged,Time_04:00:00,Time_07:00:00,Time_09:00:00,Time_12:00:00,Time_15:00:00,Time_18:00:00,Time_21:00:00,Time_23:00:00,Time_Time
0,NaN,NaN,Soya k-tron,NaN,NaN,NaN,NaN,Maize k-tron,NaN,NaN,...,NaN,0,0,0,0,0,0,0,0,0
1,Product,Date,Setpoint TPH,CMD %,Motor RPM,Screw RPM,AveFF,Setpoint TPH,CMD %,Motor RPM,...,Suction pipe clogged,0,0,0,0,0,0,0,0,1
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0,0,1,0,0,0,0,0,0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0,0,0,1,0,0,0,0,0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0,0,0,0,1,0,0,0,0
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0,0,0,0,0,1,0,0,0
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0,0,0,0,0,0,1,0,0
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0,0,0,0,0,0,0,1,0
8,GOM,2023-02-01 00:00:00,1236,86.47,1629,388.1,1461.6,4767.1,66.7,1301.3,...,NaN,0,0,0,0,0,0,0,0,0
9,NaN,NaN,1236,78.1,1673.1,359.1,1430.1,4764,66,1289.1,...,NaN,1,0,0,0,0,0,0,0,0
10,NaN,NaN,1236,87.1,1674.1,358.1,1451.3,4763.1,67.3,1303.1,...,NaN,0,1,0,0,0,0,0,0,0
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0,0,0,0,0,0,0,0,0
12,NaN,2023-02-01 00:00:00,1236,85,1680,360,1445,4764,65,1300,...,NaN,0,0,1,0,0,0,0,0,0
13,NaN,NaN,1236,85,1680,361,1450,4764,63,1311,...,NaN,0,0,0,1,0,0,0,0,0
14,NaN,NaN,1236,85,1681,359,1449,4763,67,1310,...,NaN,0,0,0,0,1,0,0,0,0
15,NaN,NaN,1236,84,1708,304,1531,4764,68,1326,...,NaN,0,0,0,0,0,1,0,0,0
16,WFP,NaN,1738,105,2059,460,1753,4764,58,1169,...,NaN,0,0,0,0,0,0,1,0,0
17,NaN,NaN,1736,109,2123,423,1758,4764,58,1176,...,NaN,0,0,0,0,0,0,0,1,0
18,NaN,2023-03-01 00:00:00,1736,105,2042,420,1785,4764,58,1175,...,NaN,0,0,0,0,0,0,0,0,0
19,NaN,NaN,1736,98,2195,464,1756,4764,58,1160,...,NaN,1,0,0,0,0,0,0,0,0
20,NaN,NaN,1764,104,2159,448,1758,4536,59,1186,...,NaN,0,1,0,0,0,0,0,0,0
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0,0,0,0,0,0,0,0,0
22,NaN,NaN,1764,107,2200,468,1744,4536,60,1203,...,NaN,0,0,1,0,0,0,0,0,0
23,NaN,NaN,1764,105,2200,467,1816,4536,65,1203,...,NaN,0,0,0,1,0,0,0,0,0
24,NaN,NaN,1764,104,2200,462,1823,4536,61,1203,...,NaN,0,0,0,0,1,0,0,0,0
25,NaN,NaN,1764,106,1964,432,1796,4536,60,1153,...,NaN,0,0,0,0,0,1,0,0,0
26,NaN,NaN,1764,110,1976,420,1785,4536,58,1168,...,NaN,0,0,0,0,0,0,1,0,0
27,NaN,NaN,1764,110,2200,461,1787,4536,59,1222,...,NaN,0,0,0,0,0,0,0,1,0
28,NaN,2023-04-01 00:00:00,1764,108,2197,468,1783,4536,60,1183,...,NaN,0,0,0,0,0,0,0,0,0
29,NaN,NaN,1764,110,1980,456,1782,4536,59,1157,...,NaN,1,0,0,0,0,0,0,0,0
30,NaN,NaN,1764,99,1980,468,1783,4536,60,1188,...,NaN,0,1,0,0,0,0,0,0,0
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0,0,0,0,0,0,0,0,0
32,NaN,NaN,1764,98.8,2200,468.9,1796,4536,59,1193,...,NaN,0,0,1,0,0,0,0,0,0
33,NaN,NaN,1763,110,2200,468.6,1796,4540,60,1196,...,NaN,0,0,0,1,0,0,0,0,0
34,NaN,NaN,1764,110,2200,468.5,1796,4540,60,1196,...,NaN,0,0,0,0,1,0,0,0,0
35,NaN,NaN,1764,102,2183,460,1807.6,4540,61,1196,...,NaN,0,0,0,0,0,1,0,0,0
36,NaN,NaN,1764,104,2150,416,1790,4540,62,1196,...,NaN,0,0,0,0,0,0,1,0,0
37,NaN,NaN,1764,101,2157,417,1804,4540,60,1196,...,NaN,0,0,0,0,0,0,0,1,0
38,NaN,2023-05-01 00:00:00,1764,110,2210,460,1814,4536,59,1182,...,NaN,0,0,0,0,0,0,0,0,0
39,NaN,NaN,1764,107,2112,459,1811,4536,59,1180,...,NaN,1,0,0,0,0,0,0,0,0
40,NaN,NaN,1764,98,2024,464,1770,4536,55,1201,...,NaN,0,1,0,0,0,0,0,0,0
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0,0,0,0,0,0,0,0,0
42,NaN,NaN,NaN,NaN,2200,413.7,1783.4,4536,58.4,1146,...,NaN,0,0,1,0,0,0,0,0,0
43,NaN,NaN,NaN,NaN,2200,466.9,1754.8,4537,58.4,1146,...,NaN,0,0,0,1,0,0,0,0,0
44,NaN,NaN,NaN,NaN,2200,466.9,1758.8,4137,58.4,1148,...,NaN,0,0,0,0,1,0,0,0,0
45,NaN,NaN,NaN,NaN,1945,415,1798,4536,60,1191,...,NaN,0,0,0,0,0,1,0,0,0
46,NaN,NaN,NaN,NaN,1907,411,1824,4536,61,1190,...,NaN,0,0,0,0,0,0,1,0,0
47,NaN,NaN,NaN,NaN,2128,417,1800,4536,60,1192,...,NaN,0,0,0,0,0,0,0,1,0
48,NaN,2023-06-01 00:00:00,NaN,NaN,2086,468,1776,4536,58,1254,...,NaN,0,0,0,0,0,0,0,0,0
49,NaN,NaN,NaN,NaN,2200,468,1802,4536,60,1185,...,NaN,1,0,0,0,0,0,0,0,0
50,NaN,NaN,NaN,NaN,2199,467,1735,4536,61,1237,...,NaN,0,1,0,0,0,0,0,0,0
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0,0,0,0,0,0,0,0,0
52,NaN,NaN,NaN,NaN,2128,468,1777,4536,58,1229,...,NaN,0,0,1,0,0,0,0,0,0
53,NaN,NaN,NaN,NaN,1977,458,1783,4536,69,1226,...,NaN,0,0,0,1,0,0,0,0,0
54,NaN,NaN,NaN,NaN,2200,460,1777,4536,61,1200,...,NaN,0,0,0,0,1,0,0,0,0
55,NaN,NaN,NaN,NaN,2170,422,1782,4536,54,1216,...,NaN,0,0,0,0,0,1,0,0,0
56,NaN,NaN,NaN,NaN,2086,421,1781,4536,59,1221,...,NaN,0,0,0,0,0,0,1,0,0
57,NaN,NaN,NaN,NaN,2010,417,1780,4536,60,1225,...,NaN,0,0,0,0,0,0,0,1,0
58,NaN,2023-07-01 00:00:00,NaN,NaN,2136,419,1795,4536,60,1298,...,NaN,0,0,0,0,0,0,0,0,0
59,NaN,NaN,NaN,NaN,2134,420,1800,4536,61,1295,...,NaN,1,0,0,0,0,0,0,0,0
60,NaN,NaN,NaN,NaN,2135,422,1800,4536,60,1295,...,NaN,0,1,0,0,0,0,0,0,0
61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0,0,0,0,0,0,0,0,0
62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0,0,1,0,0,0,0,0,0
63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0,0,0,1,0,0,0,0,0
64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0,0,0,0,1,0,0,0,0
65,NaN,NaN,NaN,NaN,1979.5,439,1784,4536,60,1131,...,NaN,0,0,0,0,0,1,0,0,0
66,NaN,NaN,NaN,NaN,1982.1,446,1785,4536,59,1178,...,NaN,0,0,0,0,0,0,1,0,0
67,NaN,NaN,NaN,NaN,2114,436,1786,4536,60,1195,...,NaN,0,0,0,0,0,0,0,1,0
68,NaN,2023-08-01 00:00:00,NaN,NaN,2120,430,1799,4536,60,1195,...,NaN,0,0,0,0,0,0,0,0,0
69,NaN,NaN,NaN,NaN,2121,430,1800,4536,60,1190,...,NaN,1,0,0,0,0,0,0,0,0
70,NaN,NaN,NaN,NaN,2119,430,1800,4536,61,1190,...,NaN,0,1,0,0,0,0,0,0,0
71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0,0,0,0,0,0,0,0,0
72,NaN,NaN,NaN,NaN,2200,459,1782,4536,60,1237,...,NaN,0,0,1,0,0,0,0,0,0
73,NaN,NaN,NaN,NaN,2079,432,1806,4536,61,1211,...,NaN,0,0,0,1,0,0,0,0,0
74,NaN,NaN,NaN,NaN,2066,467,1773,4536,59,1214,...,NaN,0,0,0,0,1,0,0,0,0
75,NaN,NaN,NaN,NaN,2200,458,1782,4536,61,1237,...,NaN,0,0,0,0,0,1,0,0,0
76,NaN,NaN,NaN,NaN,2083,436,1801,4538,60,1216,...,NaN,0,0,0,0,0,0,1,0,0
77,NaN,NaN,NaN,NaN,2068,474,1769,4540,58,1214,...,NaN,0,0,0,0,0,0,0,1,0
78,NaN,2023-09-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0,0,0,0,0,0,0,0,0
79,NaN,NaN,NaN,NaN,2197,468,1622,4536,57,1185,...,NaN,1,0,0,0,0,0,0,0,0
80,NaN,NaN,NaN,NaN,2201,468,1624,4536,58,1173,...,NaN,0,1,0,0,0,0,0,0,0